.borderDescription {
  padding: 1rem;

  & > div {
    padding-top: 0.5rem;
  }
}

.borderName {
  display: flex;

  & > :first-child {
    padding-right: 1rem;
  }

  & > :last-child {
    padding-left: 1rem;
  }
}

.icon {
  cursor: pointer;
}

// Animation
.icon[rotate="1"] {
  animation: rotate 220ms 1 cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes rotate {
  100% {
    transform: rotate(180deg);
  }
}
