.headerBar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: ". title actionButton";
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: title;
}

.actionButton {
  display: flex;
  justify-content: flex-end;
  grid-area: actionButton;
}
