.container {
  padding: 0.5rem;
  color: rgba(0, 0, 0, 0.87);
}

.countrySelectorContainer {
  margin: 0.5rem;
  padding: 1rem 0.5rem;
  background-color: white;
}

.borderListContainer {
  margin-top: 1rem;
}
